body {
  font-family: "Manrope", sans-serif;
  width: 100%;
  background-color: #f5f5f5;
}

.container {
  margin: 0 auto;
  width: 1400px;
  background-color: #ffffff;
}

section {
  padding: 150px 125px 0 125px;
}

.section-black {
  margin-top: 150px;
  background: #121212;
  height: 1844px;
}

h1,
h2,
h3 {
  letter-spacing: -0.03em;
}

h1 {
  width: 953px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
}

h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #121212;
}

h3 {
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
}

.interior {
  position: relative;
  margin-top: 30px;
  height: 500px;
  width: 1150px;
  background-image: url("../resources/interior.png");
}

.interior-text {
  position: absolute;
  left: 40px;
  bottom: 40px;
  right: 680px;
  width: 430;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.about-us {
  margin-top: 30px;
  width: 1048px;
  height: 366px;
  font-weight: 400;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.03em;
  color: #121212;
}

.btn_services {
  width: 255px;
  height: 67px;
  margin-top: 30px;
  font-size: 20px;
  background: #ad1818;
  border-radius: 5px;
  display: inline-block;
  padding: 20px 0;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  letter-spacing: -0.03em;
}

.projects {
  margin-top: 30px;
}

.project {
  margin-bottom: 90px;
}

.project__image {
  margin-bottom: 15px;
}

.project__title {
  margin-bottom: 15px;
  color: #121212;
}

.project__detail {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #ad1818;
}

.btn_all_projects {
  display: block;
  width: 100%;
  height: 153px;
  line-height: 153px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #ad1818;
  font-size: 30px;
  letter-spacing: -0.03em;
}

.btn_all_projects:hover {
  background-color: #ad1818;
  color: #ffffff;
}

.section-black h2 {
  color: #ffffff;
}

.services {
  margin-top: 34px;
}

.services .service {
  margin-top: 60px;
}

.services :first-child {
  margin-top: 0;
}

.service__image {
  margin-bottom: 15px;
}
